.list_forecast{
    .list_day{
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        overflow-x: auto;
        width: 100%;
        .item{
            background: #a9a9a92e;
            padding: 20px 30px 40px;
            border-radius: 10px;
            min-width: 20%;
            ul{
                display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
            }
        }
    }
}